<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      ALQUILER
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button default-href="#" color="danger"></ion-back-button>
      </ion-buttons>
      <ion-title>Alquiler</ion-title>
      <img src="https://lh5.googleusercontent.com/p/AF1QipNSSXMMx_qxJ2QRigBaD7ROrN8VB1JVD-r9hKhl=w600-h321-p-k-no" alt="" width="120px" class="logo">
    </ion-toolbar>
    
  </ion-header>

  <h4>COMPLETE EL SIGUIENTE FORMULARIO</h4>

  <form #formulario="ngForm">
    <div>
      <label for="nombre">Nombre y apellido</label>
      <input type="text" name="nombre" id="nombre" placeholder="Introduzca su nombre y apellido" [(ngModel)]="perfilService.perfil.nombre" #nombre="ngModel" required minlength="5">
      <p class="error" *ngIf="nombre.invalid && nombre.touched">Ingrese un nombre válido</p>
    </div>

    <div>
      <label for="numero">Numero telefónico</label>
      <input type="text" name="numero" id="numero" placeholder="ej. 3414443446" [(ngModel)]="perfilService.perfil.telefono" #telefono="ngModel" required minlength="5">
      <p class="error" *ngIf="telefono.invalid && telefono.touched">Ingrese un numero válido</p>
    </div>

    <div>
      <label for="domicilio">Domicilio</label>
      <input type="text" name="domicilio" id="domicilio" placeholder="Calle, numero, departamento" [(ngModel)]="perfilService.perfil.domicilio" #domicilio="ngModel" required minlength="8">
      <p class="error" *ngIf="domicilio.invalid && domicilio.touched">Ingrese un domicilio válido</p>
    </div>

    <div>
      <label for="fechaEquipo">¿Cuándo necesitas el equipo?</label>
      <input type="date" name="fechaEquipo" id="fechaEquipo" [(ngModel)]="perfilService.perfil.fechaEquipo" #fecha="ngModel" required>
      <p class="error" *ngIf="fecha.invalid && fecha.touched">Ingrese una fecha válido</p>  
    </div>

    <ion-button expand="block" color="danger" id="bot-alq" [disabled]="formulario.invalid" href="{{perfilService.generarMensaje()}}">Contactanos para finalizar tu alquiler</ion-button>
  </form>
 
  